<section id="clients" class="clients">
    <div class="container">

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
            {% for i in 1..4 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="client-logo">
                        <img src="{{ asset("butterfly/images/clients/client-#{i}.png") }}" class="img-fluid" alt=""/>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
