{% extends 'base/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core-ui') }}
{% endblock %}

{% block body %}
<div id="core-ui"></div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('core-ui') }}
{% endblock %}
